#about{
    margin-top: 4em;
}
#mission, #story,#statement, #hire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
#heading{
    font-size: 40px;
    font-weight: bold;
}
#heading-2{
    font-size: 30px;
    font-weight: bold;
}
#story{
    margin-top: 3em;
}
#statement{
    /* margin-top: 4em; */
    height: 50vh;
}
