@media (min-width: 1025px) {
    .h-custom-2 {
      height: 100%;
      }
    }
#login-page{
  width: 50% !important;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  height: fit-content;
  /* border-style: ; */
}
/* .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  width: 50% !important;
  margin-right: auto;
  margin-left: auto;
} */